@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
    font-family: 'Inter', sans-serif;
    background-color: #041724;
    color: #e5e7eb;
}
.bg-dark-teal {
    background-color: #041724; 
    background-image: linear-gradient(135deg, #041724 0%, #000c14 100%);
}
.text-teal-accent {
    color: #4fd1c5;
}
.glow-shadow {
    text-shadow: 0 0 5px #4fd1c5, 0 0 10px #00bcd4;
    color: white;
}
.box-glow {
    color: white;
    box-shadow: 0 0 15px rgba(0, 188, 212, 0.3), 0 0 5px rgba(0, 188, 212, 0.5);
}
.image-filter {
    filter: grayscale(20%) saturate(150%) hue-rotate(180deg) brightness(80%);
    object-fit: cover;
}
.tab-active {
    color: #00bcd4;
    border-bottom: 3px solid #00bcd4;
    text-shadow: 0 0 5px #00bcd4;
}
.image-container {
    position: relative;
    width: 300px;
    height: 400px; 
}
.absolute {
    position: absolute;
}
.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.image-filter {
    filter: none;
}
.rounded-xl {
    border-radius: 0.75rem;
}

.hero-visuals h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hero-visuals img {
    animation: float 4s ease-in-out infinite;
    width: 500px;
    height: 70vh;
}
.bg-dark-teal {
    background-color: #041724; 
    background-image: linear-gradient(135deg, #041724 0%, #000c14 100%);
}
.h1-glow {
    text-shadow: 0 0 10px rgba(79, 159, 143, 0.5); /* Soft glow for headers */
}
.section-padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.btn {
    padding: 14px 28px;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    letter-spacing: 0.05em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.primary-btn {
    background-color: theme('colors.accent-teal'); 
    color: theme('colors.dark-bg');
}
.primary-btn:hover {
    background-color: orange; 
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}
.secondary-btn {
    background-color: transparent;
    border: 2px solid theme('colors.primary-dark');
    color: theme('colors.gray.100');
}
.secondary-btn:hover {
    background-color: theme('colors.primary-dark');
    color: theme('colors.gray.100');
    transform: translateY(-3px);
}
.animate-float {
    animation: float 4s ease-in-out infinite;
}
.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(79, 159, 143, 0.15);
}
.min-h-screen{
    background-color: #ffffff6d;
    display: flex;
}
.school{
    font-size: 16px;
    text-align: center;
    padding: 0px 200px 25px;
}
.school-1{
    font-size: 16px;
    text-align: center;
    padding: 0px 200px 50px;
}
@keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-8px); }
}